Input {
  text-transform: uppercase;
}

Form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: lightgray;
  border-radius: 10px;
}

Label {
  width: 100%;
}

.joinGame {
  font-size: 30px;
  background-color: black;
  width: fit-content;
  margin: auto;
  padding: 5px 15px 6px;
  color: white;
  border-radius: 10px;
}

.joinGame:hover {
  color: white;
  text-decoration: none;
}
